version: "3.8"

services:
  better_dev_app:
    container_name: better_dev_app
    image: better-dev-api-app:latest
    restart: always

    ports:
      - "3001:3001"
    env_file:
      - .env

    networks:
      - better_dev_network

    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3001/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

networks:
  better_dev_network:
    driver: bridge
