version: "3.8"

services:
  app:
    container_name: better_dev_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3001
    ports:
      - "3001:3001"
    networks:
      - better_dev_network

networks:
  better_dev_network:
    driver: bridge
